<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Strategr</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.khrykin.strategr</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Strategr</string>
	<key>LSMinimumSystemVersion</key>
    <string>${CMAKE_OSX_DEPLOYMENT_TARGET}</string>
	<key>CFBundleShortVersionString</key>
	<string>${MACOSX_BUNDLE_SHORT_VERSION_STRING}</string>
	<key>Bundle versions string, long</key>
	<string>${MACOSX_BUNDLE_LONG_VERSION_STRING}</string>
	<key>CFBundleSignature</key>
	<string>DKHR</string>
	<key>CFBundleVersion</key>
	<string>${MACOSX_BUNDLE_BUNDLE_VERSION}</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeIconFile</key>
            <string>Strategy.icns</string>
            <key>CFBundleTypeIconSystemGenerated</key>
            <integer>1</integer>
            <key>CFBundleTypeName</key>
            <string>Strategy</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>LSHandlerRank</key>
            <string>Default</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.Strategr.Strategy</string>
            </array>
        </dict>
    </array>
	<key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeDescription</key>
            <string>Strategy</string>
            <key>UTTypeIconFile</key>
            <string>Strategy.icns</string>
            <key>UTTypeIcons</key>
            <dict>
                <key>UTTypeIconBackgroundName</key>
                <string>StrategyFill</string>
                <key>UTTypeIconBadgeName</key>
                <string>StrategyIcon</string>
                <key>UTTypeIconText</key>
                <string>Strategy</string>
            </dict>
            <key>UTTypeIdentifier</key>
            <string>com.Strategr.Strategy</string>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>public.filename-extension</key>
                <array>
                    <string>stg</string>
                </array>
            </dict>
        </dict>
    </array>
	<key>NSCalendarsUsageDescription</key>
	<string>Strategr would be able to import and export Calendar events</string>
	<key>SUFeedURL</key>
	<string>${APPCAST_URL}</string>
	<key>NSUbiquitousContainers</key>
    <dict>
   		<key>iCloud.com.khrykin.Strategr</key>
   		<dict>
   			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
   			<true/>
   			<key>NSUbiquitousContainerName</key>
    		<string>Strategr</string>
    		<key>NSUbiquitousContainerSupportedFolderLevels</key>
   			<string>Any</string>
   		</dict>
   	</dict>
</dict>
</plist>
