.idea
.vs
.stfolder
.stignore
.DS_Store

builds

# Visual Studio cmake project files
CMakeSettings.json
CMakeLists.txt.user

# Inno Setup scripts, configured by cmake
deployment/Strategr_x64.iss
deployment/Strategr_x86.iss
docs/.vscode
