IDI_ICON1               ICON    "Strategr.ico"
IDI_ICON2               ICON    "Strategy.ico"

#include <winver.h>

// Version information; this, too, is used by WinSparkle
1 VERSIONINFO
 FILEVERSION     @VERSION_MAJOR@,@VERSION_MINOR@,@VERSION_PATCH@,0
 PRODUCTVERSION  @VERSION_MAJOR@,@VERSION_MINOR@,@VERSION_PATCH@,0
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
 FILEFLAGS       0
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0" // US English, Unicode
        BEGIN
            VALUE "CompanyName", "Dmitry Khrykin\0"
            VALUE "FileDescription", "Strategr\0"
            VALUE "FileVersion", "@VERSION_SHORT@\0"
            VALUE "InternalName", "Strategr\0"
            VALUE "OriginalFilename", "Strategr.exe\0"
            VALUE "LegalCopyright", "(c) Dmitry Khrykin\0"
            VALUE "ProductName", "Strategr\0"
            VALUE "ProductVersion", "@VERSION_SHORT@\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END